abbr {
    color: red;
}

.box1 {
    width: 250px;
    margin-left: 150px;
    margin-bottom: 20px;
    
}

.name {
    margin-left: 84px;
    margin-bottom: 20px;
}

.email {
    margin-left: 78px;
    margin-bottom: 20px;
}

.password {
    margin-left: 58px;
    margin-bottom: 20px;
}

.card {
    margin-left: 55px;
    margin-bottom: 20px;
}

.card-num {
    margin-left: 38px;
    margin-bottom: 20px;
}

.expiration {
    margin-left: 22px;
    margin-bottom: 20px;
}

.button {
    margin-top: 50px;
    margin-left: 150px;

}

input[type="text"] {
    width: 273px;
}

input[type="email"] {
    width: 273px;
}

input[type="password"] {
    width: 273px;
}

input[type="tel"] {
    width: 273px;
}

